extends base

block content
    main.main
        .card-container
            each order in orders 
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/plots/${order.plot.imageCover}`, alt=`${order.plot.name}`)
                        h3.heading-tertirary
                            span= `ORDER FROM: ${order.plot.name}`

                    .card__details
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            span= `${order.price / order.plot.product.price} kg bought` 
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                            span= `${order.createdAt.split('T')[0]}` 
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            span= `Total of ${order.price} Euro`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-clock')
                            span= `${order.createdAt.split('T')[1].split('+')[0]} GMT`
                    .card__footer
                        p.card__ratings
                        a.btn.btn--green.btn--small(href=`/plot/${order.plot.slug}`) Plot Details 